Album Artwork
Mobile Applications
Movies
Podcasts
Previous iTunes Libraries
Temp File.tmp
com.apple.iTunes.plist
iTunes Library Extras.itdb
iTunes Library Genius.itdb
iTunes Library.itl
iTunes Music
iTunes Music Library.xml
node_modules
tracks.json
